In [2]:
import pandas as pd
import numpy as np

In [3]:
raw_csv_data = pd.read_csv("Index2018.csv")
df_comp = raw_csv_data.copy()

In [4]:
df_comp.describe()

               spx           dax         ftse        nikkei
count  6269.000000   6269.000000  6269.000000   6269.000000
mean   1288.127542   6080.063363  5422.713545  14597.055700
std     487.586473   2754.361032  1145.572428   4043.122953
min     438.920000   1911.700000  2876.600000   7054.980000
25%     990.671905   4069.350000  4486.100000  10709.290000
50%    1233.420000   5773.340000  5662.430000  15028.170000
75%    1459.987747   7443.070000  6304.250000  17860.470000
max    2872.867839  13559.600000  7778.637689  24124.150000

In [5]:
df_comp.date.describe()

count           6269
unique          6269
top       07/01/1994
freq               1
Name: date, dtype: object

In [6]:
df_comp.date = pd.to_datetime(df_comp.date, dayfirst = True)

In [7]:
df_comp.head()

        date     spx      dax     ftse    nikkei
0 1994-01-07  469.90  2224.95  3445.98  18124.01
1 1994-01-10  475.27  2225.00  3440.58  18443.44
2 1994-01-11  474.13  2228.10  3413.77  18485.25
3 1994-01-12  474.17  2182.06  3372.02  18793.88
4 1994-01-13  472.47  2142.37  3360.01  18577.26

In [8]:
df_comp.date.describe()

count                             6269
mean     2006-01-14 19:36:59.492742144
min                1994-01-07 00:00:00
25%                2000-01-11 00:00:00
50%                2006-01-12 00:00:00
75%                2012-01-19 00:00:00
max                2018-01-29 00:00:00
Name: date, dtype: object

Remove Indicies Dataframe - Using dates as indicies

In [9]:
df_comp.set_index("date", inplace = True)

In [10]:
df_comp.head()

               spx      dax     ftse    nikkei
date
1994-01-07  469.90  2224.95  3445.98  18124.01
1994-01-10  475.27  2225.00  3440.58  18443.44
1994-01-11  474.13  2228.10  3413.77  18485.25
1994-01-12  474.17  2182.06  3372.02  18793.88
1994-01-13  472.47  2142.37  3360.01  18577.26

Setting Desired Frequency - Fills in missing dates if applicable

In [11]:
df_comp = df_comp.asfreq('b') # b: business days

In [12]:
df_comp.head()

               spx      dax     ftse    nikkei
date
1994-01-07  469.90  2224.95  3445.98  18124.01
1994-01-10  475.27  2225.00  3440.58  18443.44
1994-01-11  474.13  2228.10  3413.77  18485.25
1994-01-12  474.17  2182.06  3372.02  18793.88
1994-01-13  472.47  2142.37  3360.01  18577.26

Handling Missing Data

In [13]:
df_comp.isna().sum()

spx       8
dax       8
ftse      8
nikkei    8
dtype: int64

Missing Data Handling - Front filling / back filling / same value

Front fill spx

In [14]:
df_comp.spx = df_comp.spx.fillna(method = "ffill")
df_comp.ftse = df_comp.ftse.fillna(method = "bfill")
df_comp.dax = df_comp.dax.fillna(value = df_comp.dax.mean())
df_comp.mikkei = df_comp.nikkei.fillna(value = df_comp.dax.mean())

C:\Users\andyz\AppData\Local\Temp\ipykernel_21752\2349460708.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_comp.spx = df_comp.spx.fillna(method = "ffill")
C:\Users\andyz\AppData\Local\Temp\ipykernel_21752\2349460708.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_comp.ftse = df_comp.ftse.fillna(method = "bfill")
C:\Users\andyz\AppData\Local\Temp\ipykernel_21752\2349460708.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df_comp.mikkei = df_comp.nikkei.fillna(value = df_comp.dax.mean())

In [15]:
df_comp.isna().sum()

spx       0
dax       0
ftse      0
nikkei    8
dtype: int64

In [17]:
df_comp['market_value'] = df_comp.spx

In [19]:
df_comp.describe

<bound method NDFrame.describe of                     spx       dax         ftse    nikkei  market_value
date
1994-01-07   469.900000   2224.95  3445.980000  18124.01    469.900000
1994-01-10   475.270000   2225.00  3440.580000  18443.44    475.270000
1994-01-11   474.130000   2228.10  3413.770000  18485.25    474.130000
1994-01-12   474.170000   2182.06  3372.020000  18793.88    474.170000
1994-01-13   472.470000   2142.37  3360.010000  18577.26    472.470000
...                 ...       ...          ...       ...           ...
2018-01-23  2839.130362  13559.60  7731.827774  24124.15   2839.130362
2018-01-24  2837.544008  13414.74  7643.428966  23940.78   2837.544008
2018-01-25  2839.253031  13298.36  7615.839954  23669.49   2839.253031
2018-01-26  2872.867839  13340.17  7665.541292  23631.88   2872.867839
2018-01-29  2853.528411  13324.48  7671.533300  23629.34   2853.528411

[6277 rows x 5 columns]>

In [20]:
del df_comp['dax'], df_comp['ftse'], df_comp['nikkei']

In [21]:
df_comp.describe

<bound method NDFrame.describe of                     spx  market_value
date
1994-01-07   469.900000    469.900000
1994-01-10   475.270000    475.270000
1994-01-11   474.130000    474.130000
1994-01-12   474.170000    474.170000
1994-01-13   472.470000    472.470000
...                 ...           ...
2018-01-23  2839.130362   2839.130362
2018-01-24  2837.544008   2837.544008
2018-01-25  2839.253031   2839.253031
2018-01-26  2872.867839   2872.867839
2018-01-29  2853.528411   2853.528411

[6277 rows x 2 columns]>